body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #aed2ec; /* azul cielo muy claro */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    background: transparent;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    overflow: hidden;
    max-width: 900px;
    width: 90%;
}

/* Imagen con capa azul transparente */
.image-section {
    position: relative;
    flex: 1;
    min-height: 400px;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.4); /* Azul cielo con transparencia */
    mix-blend-mode: multiply;
}

/* Formulario semitransparente */
.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.397); /* <-- AQUI la transparencia */
    backdrop-filter: blur(5px); /* efecto difuminado elegante */
}

.form-section h2 {
    margin-bottom: 20px;
    color: #003f9ec4;
    text-align: center;
}

label {
    font-weight: 600;
    color: #555;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0acfcf;
}

.forgot-password {
    text-align: right;
    display: block;
    margin-top: 10px;
    color: #1976d2;
    font-size: 13px;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}