body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 50px;
}

form {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 300px;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    cursor:pointer;
}