<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Reservaciones</title>
    <link rel="stylesheet" href="{{ "C:\Users\Ivan\Desktop\Proyecto_Reservas\app\static\style.css"('static', filename='style.css') }}">
</head>
<body>
    <h1>Sistema de Reservaciones</h1>

    <form id="form-reserva">
        <input type="text" id="usuario" placeholder="Tu nombre" required>
        <input type="text" id="sala" placeholder="Sala" required>
        <button type="submit">Reservar</button>
    </form>

    <div id="respuesta"></div>

    <script src="{{ "C:\Users\Ivan\Desktop\Proyecto_Reservas\app\static\script.js"('static', filename='script.js') }}"></script>
</body>
</html>
